@import "~@uvalib/web-styles/scss/_icons.scss";
@import "~@uvalib/web-styles/scss/button.scss";

:host {
    display: inline-block;
  }

button i {
  font-size: 1.6em;
  margin-right: .2em;
  vertical-align: middle;
}