@import "~@uvalib/web-styles/scss/_colors.scss";
@import "~@uvalib/web-styles/scss/_fonts.scss";
@import "~@uvalib/web-styles/scss/_icons.scss";
@import "~@uvalib/web-styles/scss/_variables.scss";

:host {
  display: none; /*block;*/
  text-align: left;
  visibility: visible;
  @include font-body1
}
[hidden] {
  display: none;
}
.alert-item {
  min-height: 41px;
  background-color: $uvalib-yellow;
  border-width: 2px 0 0 0;
  border-color: $color-white;
  border-style: solid;
  color: $uvalib-text-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alert-item div {
  width: 100%;
  max-width: $max-width;
  padding: .15em;
}
.alert-item.alert1 {
  background-color: $color-emergency-red;
  color: $uvalib-white;
}
.alert-item.alert2 {
  background-color: $uvalib-yellow;
}
.alert-item.alert3 {
  background-color: $uvalib-yellow-lightest;
  color: $uvalib-black;
}
.alert-item.alert1 p a {
  text-decoration: underline;
  color: $color-white;
}
.alert-item.alert3 p a {
  text-decoration: underline;
}
.alert-item.alert1 p a:hover, .alert-item.alert2 p a:hover, .alert-item.alert3 p a:hover {
  font-style: italic;
}
.alert-item.alert1 p a:focus, .alert-item.alert2 p a:focus, .alert-item.alert3 p a:focus {
  outline: $color-accessibility-outline-dark-bg dotted 3px;
  padding: .15em;
}
.alert-item.alert3 uvalib-button {
  color: $uvalib-black;
  border-color: $uvalib-yellow-dark;
}
.alert-item.alert3 uvalib-button:hover {
  background-color: $uvalib-yellow;
}
.alert-item.alert1 .alert-head:before, .alert-item.alert2 .alert-head:before {
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
  line-height: 1;
  font-weight: 900;
  speak: none;
  content: "\f06a";
  font-size: 2em;
  padding-right: .25em;
}

.alert-head {
  display: flex;
  flex-direction: row;
}
.alert-title {
  flex: 1;
  flex-basis: 0.000000001px;
}
[slot="markdown-html"] p {
  margin:0;
  padding:0;
}
uvalib-button {
  color: $uvalib-text-dark;
  position: static;
  z-index: auto;
}
uvalib-button:visited, uvalib-button:focus, uvalib-button:hover, uvalib-button:active {
  font-weight: normal;
}

uvalib-button::part(button) {
  text-transform: uppercase;
  border: 1px solid $uvalib-secondary-md-grey;
  color: $uvalib-text-dark;
  background-color: inherit;
}

.alert-item.alert2 uvalib-button:hover::part(button) {
  background-color: $uvalib-yellow-dark;
  color: $uvalib-black;
}
