@import "~@uvalib/web-styles/scss/_colors.scss";
@import "~@uvalib/web-styles/scss/_fonts.scss";
@import "~@uvalib/web-styles/scss/_icons.scss";
@import "~@uvalib/web-styles/scss/_variables.scss";
@import "uvalib-alerts.scss";

:host {
  display: none; /*block;*/
  text-align: left;
  visibility: visible;
  @include font-body1
}
[hidden] {
  display: none;
}

.uva-alert {
  font-size: 1.06rem;
  line-height: 1.5;
  padding: 1.25rem 1.25rem 1rem 1.75rem;
  position: relative;
  color: $uvalib-text-dark;
  margin-bottom: 1em;
}
.uva-alert--a4 {
  background-color: $uvalib-alert-a4-bg;
  text-align: center;
}
.uva-alert--a4 .uva-alert__body {
  display: inline-block;
  padding-left: 1.25rem;
}
.uva-alert--a4 .uva-alert__body .uva-alert__text a {
  color: $uvalib-blue-alt-darkest;
}
.uva-alert__heading {
  font-size: 1.33rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
}
.uva-alert__body {
  padding-left: 1.25rem;
  display: table-cell;
  vertical-align: top;
}
.uva-alert__text {
  margin-bottom: 0;
  margin-top: 0;
} 