@import "~@uvalib/web-styles/scss/_colors.scss";
@import "~@uvalib/web-styles/scss/_fonts.scss";
@import "~@uvalib/web-styles/scss/_icons.scss";
@import "~@uvalib/web-styles/scss/_variables.scss";

$uvalib-alert-a1-bg: $uvalib-red-lightest;
$uvalib-alert-a1-border: $uvalib-red-dark;
$uvalib-alert-a2-bg: $uvalib-yellow-lightest;
$uvalib-alert-a2-border: $uvalib-yellow;
$uvalib-alert-a3-bg: $uvalib-blue-alt-lightest;
$uvalib-alert-a3-border: $uvalib-blue-alt;
$uvalib-alert-a4-bg: $uvalib-teal;
$uvalib-alert-r1-bg: $uvalib-yellow-lightest;
$uvalib-alert-r1-border: $uvalib-yellow;
$uvalib-alert-r2-bg: $uvalib-teal-lightest;
$uvalib-alert-r2-border: $uvalib-teal;

$uvalib-alert-error-inline: $uvalib-red-darker;
$uvalib-alert-confirmation-inline: $uvalib-green-dark;

$uvalib-alert-info-bg: $uvalib-blue-alt-lightest;
$uvalib-alert-info-border: $uvalib-blue-alt;
$uvalib-alert-confirmation-bg: $uvalib-green-lightest;
$uvalib-alert-confirmation-border: $uvalib-green-dark;

$uvalib-status-available: $uvalib-blue-alt;
$uvalib-status-modified: $uvalib-yellow;
$uvalib-status-notavailable: $uvalib-red-darker;

$accessibility-outline-color--bgislight: $uvalib-blue-alt-dark;
$accessibility-outline-color--bgisdark: $uvalib-blue-alt-lightest;

:host {
  display: none; /*block;*/
  text-align: left;
  visibility: visible;
  @include font-body1
}
[hidden] {
  display: none;
}
.alert-item {
  min-height: 41px;
  background-color: $uvalib-yellow;
  border-width: 2px 0 0 0;
  border-color: $color-white;
  border-style: solid;
  color: $uvalib-text-dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.alert-item div {
  width: 100%;
  max-width: $max-width;
  padding: .15em;
}
.alert-item.alert1 {
  background-color: $color-emergency-red;
  color: $uvalib-white;
}
.alert-item.alert2 {
  background-color: $uvalib-yellow;
}
.alert-item.alert3 {
  background-color: $uvalib-yellow-lightest;
  color: $uvalib-black;
}
.alert-item.alert1 p a {
  text-decoration: underline;
  color: $color-white;
}
.alert-item.alert3 p a {
  text-decoration: underline;
}
.alert-item.alert1 p a:hover, .alert-item.alert2 p a:hover, .alert-item.alert3 p a:hover {
  font-style: italic;
}
.alert-item.alert1 p a:focus, .alert-item.alert2 p a:focus, .alert-item.alert3 p a:focus {
  outline: $color-accessibility-outline-dark-bg dotted 3px;
  padding: .15em;
}
.alert-item.alert3 uvalib-button::part(button) {
  color: $uvalib-black;
  border-color: $uvalib-yellow-dark;
}
.alert-item.alert3 uvalib-button:hover::part(button) {
  background-color: $uvalib-yellow;
}
.alert-item.alert1 .alert-head:before, .alert-item.alert2 .alert-head:before {
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-transform: none;
  line-height: 1;
  font-weight: 900;
  speak: none;
  content: "\f06a";
  font-size: 2em;
  padding-right: .25em;
}

.alert-head {
  display: flex;
  flex-direction: row;
}
.alert-title {
  flex: 1;
  flex-basis: 0.000000001px;
}
[slot="markdown-html"] p {
  margin:0;
  padding:0;
}
uvalib-button {
  color: $uvalib-text-dark;
  position: static;
  z-index: auto;
}
uvalib-button:visited, uvalib-button:focus, uvalib-button:hover, uvalib-button:active {
  font-weight: normal;
}

uvalib-button::part(button) {
  text-transform: uppercase;
  border: 1px solid $uvalib-secondary-md-grey;
  color: $uvalib-text-dark;
  background-color: inherit;
}

.alert-item.alert2 uvalib-button:hover::part(button) {
  background-color: $uvalib-yellow-dark;
  color: $uvalib-black;
}




/*********************************************/
/*      CURRENT ALERT STYLING 11/2020        */
/*********************************************/

.uva-alert {
  font-size: 1.06rem;
  line-height: 1.5;
  padding: 1.25rem 1.25rem 1rem 1.75rem;
  position: relative;
  color: $uvalib-text-dark;
  /* margin-bottom: 1em; */
}
.uva-alert--a1 {
  background-color: $uvalib-alert-a1-bg;
  border-left: 8px solid $uvalib-alert-a1-border;
}
.uva-alert--a1::before {
  content: "\f06a";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 1.5em;
  display: table-cell;
}
.uva-alert--a2 {
  background-color: $uvalib-alert-a2-bg;
  border-left: 8px solid $uvalib-alert-a2-border;
}
.uva-alert--a2::before {
  content: "\f071";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 1.5em;
  display: table-cell;
}
.uva-alert--a3 {
  background-color: $uvalib-alert-a3-bg;
  border-left: 8px solid $uvalib-alert-a3-border;
}
.uva-alert--a3::before {
  content: "\f05a";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 1.5em;
  display: table-cell;
}

.uva-alert--dismissable a.uva-alert--close {
  font-size: 1.5em;
  display: table-cell;
  position: absolute;
  top: .25em;
  right: .45em;
  text-decoration: none;
  color: $uvalib-text-dark;
}

.uva-alert--r1, .uva-alert--r2 {
  border: 0.2em solid var(--alert-border-color);
  border-radius: 0.5em;
}
.uva-alert--r1 {
  background-color: $uvalib-alert-r1-bg;
  --alert-border-color: $uvalib-alert-r1-border;
}
.uva-alert--r2 {
  background-color: $uvalib-alert-r2-bg;
  --alert-border-color: $uvalib-alert-r2-border;
}
.uva-alert--error, .uva-alert--confirmation {
  margin: 0;
  padding: 0;
}
.uva-alert--error {
  color: $uvalib-alert-error-inline;
}
.uva-alert--confirmation {
  color: $uvalib-alert-confirmation-inline;
}
.uva-alert__heading {
  font-size: 1.33rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: .5rem;
}
.uva-alert__body {
  padding-left: 1.25rem;
  display: table-cell;
  vertical-align: top;
}
.uva-alert__text {
  margin-bottom: 0;
  margin-top: 0;
}  

.uva-alert--a4 {
  background-color: $uvalib-alert-a4-bg;
  text-align: center;
}
.uva-alert--a4 .uva-alert__body {
  display: inline-block;
  padding-left: 1.25rem;
}
.uva-alert--a4 .uva-alert__body .uva-alert__text a {
  color: $uvalib-blue-alt-darkest;
}

/* ALERT STYLING END */