@import "~@uvalib/web-styles/scss/_colors.scss";
@import "~@uvalib/web-styles/scss/_fonts.scss";
@import "~@uvalib/web-styles/scss/_icons.scss";
@import "~@uvalib/web-styles/scss/_variables.scss";

$uvalib-alert-r1-bg: $uvalib-yellow-lightest;
$uvalib-alert-r1-border: $uvalib-yellow;
$uvalib-alert-r2-bg: $uvalib-teal-lightest;
$uvalib-alert-r2-border: $uvalib-teal;

:host {
  display: none;
  @include font-body1;
}
[hidden] {
  display: none;
}

.uva-alert {
  font-size: 1.06rem;
  line-height: 1.5;
  position: relative;
  color: $uvalib-text-dark;
}

.uva-alert--r1, .uva-alert--r2 {
  border: 0.2em solid var(--alert-border-color);
  border-radius: 0.5em;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}
.uva-alert--r1 {
  background-color: $uvalib-alert-r1-bg;
  --alert-border-color: $uvalib-alert-r1-border;
}
.uva-alert--r2 {
  background-color: $uvalib-alert-r2-bg;
  --alert-border-color: $uvalib-alert-r2-border;
}
.uva-alert__body {
  padding-left: 1.25rem;
  display: table-cell;
  vertical-align: top;
}
.uva-alert__text, .uva-alert__text p {
  margin-bottom: 0;
  margin-top: 0;
}  