@import "~@uvalib/web-styles/scss/_colors.scss";
@import "~@uvalib/web-styles/scss/_fonts.scss";

#container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --uvalib-blue-alt: #{$uvalib-blue-alt};
}

#occupancy {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open #closed, .closed #occupancy { display:none }
.closed #open, .open #occupancy { display:block }


.closed {
  @include h1;
}

.name {
    @include h1;
    font-size: 1.5em;
}
  
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

uvalib-viz-donut {
  /* single solid color donut segment for this usecase */ 
  --uvalib-viz-donut-segment-color: var(--uvalib-data-viz-donut-segment-color, var(--uvalib-blue-alt));
  --uvalib-viz-donut-segment-med-color: var(--uvalib-data-viz-donut-segment-color, var(--uvalib-blue-alt));
  --uvalib-viz-donut-segment-high-color: var(--uvalib-data-viz-donut-segment-color, var(--uvalib-blue-alt));
}
